.her_bg_image{
    background-image: url("../src/assets/img/webp/hero_section_img.webp");
}
.upcomming_img_one{
    background-image:url("../src/assets/img/webp/Upcoming_card_1.webp") ;
}
.upcomming_img_two{
    background-image:url("../src/assets/img/webp/Upcoming_card_2.webp") ;
}
.animation_preloader{
    animation: scope 2.5s infinite;
}
@keyframes scope {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1.1);
    }
}
@media (max-width:1023.9px) {
    .nav_sm {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 2;
        -webkit-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
    }

  .nav_show {
    left: 0;
  }

    .overflow_hidden {
        overflow: hidden;
    }

    .close_nav {
        position: absolute;
        right: 10%;
        top: 25px;
        cursor: pointer;
    }
}